<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wez.sims.dao.CourseDao">

	<select id="queryCourseForList" resultType="course">
		select * from t_course
	</select>
	
	<select id="queryCourseForId" resultType="course">
		select * from t_course
		where courseId = #{courseId}
	</select>

	<insert id="saveCourse">
		insert into t_course (courseName, credit, classHour)
		value(#{courseName}, #{credit}, #{classHour})
	</insert>
	
	<update id="modifyCourse">
		update t_course set courseName=#{courseName},
		credit=#{credit}, classHour=#{classHour}
		where courseId = #{courseId}
	</update>
	
	<delete id="removeCourse">
		delete from t_course
		where courseId = #{courseId}
	</delete>

</mapper>